.titre{
  margin-left:40%;
  margin-right:40%;
  margin-top:40px;
  font-size:42px;
  max-width: 30ch;
  transform-style:preserve-3d;
  transform: skewY(-10deg);
  font-family:monospace;
}

