body{
  background-color:lightblue;
}

.center{
  align-items:center;
}

h1{
  margin-top:50px;
  font-size:42px;
	max-width: 30ch;
  font-family:monospace;
}

.malicieux{
  transform-style: preserve-3d;
	transform: skewY(-10deg);
}

#titre{
  margin-top:20px;
  margin-left:20px;
  margin-right:20px;
  border:4px solid black;
  border-radius:2px;
  padding-top:20px;
  padding-bottom:80px;
  background-color:blue;
}

